
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jetbrains+Mono:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/**
 * COLORS: Primary, Secondary, Tertiary, Primary Accent, Secondary Accent, Danger, Invert, and Hover for each
 * Background, Border, Outline, Text
*/
:root {
  /* #09090b */ --background-primary: 9, 9, 11;
  /* #121215 */ --background-secondary: 18, 18, 21;
  /* #18181b */ --background-tertiary: 24, 24, 27;
  /* #fafafa */ --background-invert: 250, 250, 250;
  /* #e4e4e7 */ --background-invert-hover: 228, 228, 231;
  /* #6366f1 */ --background-accent: 99, 102, 241;
  /* #4f46e5 */ --background-accent-hover: 79, 70, 229;

  /* #52525b */ --border-primary: 82, 82, 91;
  /* #27272a */ --border-secondary: 39, 39, 42;

  /* #fafafa */ --text-primary: 250, 250, 250;
  /* #a1a1aa */ --text-secondary: 161, 161, 170;
  /* #3b82f6 */ --text-accent: 59, 130, 246;
  /* #8b5cf6 */ --text-accent-secondary: 139, 92, 246;
  /* #18181b */ --text-invert: 24, 24, 27;

}

body {
  margin: 0;
  padding: 0;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(var(--background-primary));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

